<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_SECRET</key>
	<string>W2AOE1TYC4MHK5SZYOUGX0J3LVRALMPB4CXT3ZH21ZCPUMCU</string>
	<key>CLIENT_ID</key>
	<string>QA1L0Z0ZNA2QVEEDHFPQWK0I5F1DE3GPLSNW4BZEBGJXUCFL</string>
	<key>applicationId</key>
	<string>eh5ykK8uS1H0daAGojGNjs1zXqtL2owhKC97V6RE</string>
	<key>clientKey</key>
	<string>XxiQjkhoJfLAvdxcdaCBZF9ir3bFfXE5O54dQW7c</string>
	<key>Secret-Key</key>
	<string>84710cd42677f14b657b6203e088a97a1bdc67637e7b9468ee2f53eb2a5ea894</string>
	<key>Client-ID</key>
	<string>Mjc3NjgxNTV8MTY1NzU1NDk5MC4zNjM1OTU3</string>
</dict>
</plist>
