<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>eh5ykK8uS1H0daAGojGNjs1zXqtL2owhKC97V6RE</string>
	<key>clientKey</key>
	<string>XxiQjkhoJfLAvdxcdaCBZF9ir3bFfXE5O54dQW7c</string>
</dict>
</plist>
